a[href] {
    text-decoration: none;
    color: gray
}

a[href]:hover,
a[href].active {
    color: black
}


.avatar {
    width: 50px;
}

.pointer {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #000;
    border-color: #000;
}

.form-check-input:focus {
    box-shadow: 0 0 0 .25rem rgba(0, 0, 0, .25);
}